nav {
    width: 100%;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    background-color: rgb(145, 209, 26);
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  nav li {
    display: inline-block;
    width: 50%;
    text-align: center; 
  }
  
  ul {
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
  }
  


  @media only screen and (max-width: 750px) {
    #cursco, #topsco {
      font-size: 2rem;
    }
  }
  